.wrapper {
    min-height: calc(100vh - 4rem);
    color: #fff;
    padding: 1rem;
    padding-top: 4rem;
}

.fullWrapper {
    min-height: 100vh;
    color: #fff;
    width: 100%;
    background: #0a0a0a;
}

.statusItem {
    display: flex;
    flex-direction: column;

    span {
        font-size: 0.6rem;
        color: #666;
    }

    strong {
        font-size: 1.2rem;
    }

    @media (max-width: 600px) {
        strong {
            font-size: 1rem;
        }

        span {
            font-size: 0.5rem;
        }
    }
}

.activeText {
    color: #e11d48;
}

.input {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;

    .btn {
        height: 100%;
        padding: 0 0.5rem;
    }

    input {
        background: #000;
        border: 1px solid #222;
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;

        &:focus-visible {
            border-color: #434343;
            outline: none;
        }
    }
}

.section {
    margin-bottom: 4rem;

    h3 {
        color: #666;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.timerControls {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.adjustButtons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.customSet {
    display: flex;
    gap: 0.5rem;

    input {
        background: #000;
        border: 1px solid #222;
        color: #fff;
        padding: 0.5rem;
        width: 100px;
        font-size: 1.2rem;
        text-align: center;
    }
}

.timer {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding: 3rem 1rem;
    background: #111;
    border: 1px solid #222;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;

    @media (hover: hover) {
        &:hover:not(.warn) {
            background: #333;
        }
    }

    &:active:not(.warn) {
        background: #666;
    }

    &.warn {
        border-color: #e11d4822;

        @media (hover: hover) {
            &:hover {
                background: #dc1842b4;
            }
        }

        &:active {
            background: #e11d48;
        }
    }
}

.submitBtn {
    width: max-content;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;

    @media (hover: hover) {
        &:hover {
            background: #111;
        }
    }
}

.configItem {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
        font-size: 0.6rem;
        color: #666;
    }

    input {
        background: #000;
        border: 1px solid #222;
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;

        &:focus-visible {
            border-color: #434343;
            outline: none;
        }
    }
}

.colorInput {
    background: transparent;
    padding: 0.1rem;
    height: 3rem;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

.flex {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.pulse {
    width: 7px;
    height: 7px;
    background: #22c55e;
    border-radius: 50%;
}

.header {
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    z-index: 10;

    backdrop-filter: blur(20px);
    padding: 1rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.8);
    border-bottom: 1px solid #222;

    .connectionText {
        font-size: 1.2rem;
        color: #22c55e;
        font-weight: bold;
    }

    .disconnectedText {
        color: #e11d48;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .statusContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    span {
        font-size: 0.6rem;
        color: #666;
    }

    .secondaryText {
        font-size: 0.6rem;
        color: #666;
        letter-spacing: 0;
    }

    @media (max-width: 600px) {
        .connectionText, .disconnectedText {
            font-size: .9rem;
        }

        span {
            font-size: 0.5rem;
        }
    }
}
